<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baidu.AI" version="3.6.13" targetFramework="net46" />
  <package id="EngineIoClientDotNet" version="0.9.22" targetFramework="net46" />
  <package id="NAudio" version="1.9.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net46" />
  <package id="SocketIoClientDotNet" version="0.9.13" targetFramework="net46" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net46" />
  <package id="System.Management.Automation" version="6.2.2" targetFramework="net46" />
  <package id="System.Management.Automation_PowerShell_3.0" version="6.3.9600.17400" targetFramework="net46" />
  <package id="Tulpep.NotificationWindow" version="1.1.25" targetFramework="net46" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net46" />
</packages>